.dark{
    color: $White;
    background-color: $Dark;
    nav{
        backdrop-filter: blur(100px);
    }
    footer {
        background-color: #333;
    }
    .logo--footer{
        background-color: #333;
    }
    .nav-menu.active {
        background-color: $Dark;
    }
    a{
        color: $White;
    }
    .menu{
        span{
            background-color: $White;
        }
    }
    .card{
        background-color: $White;
        color: $Dark;
    }
    .child{
        background-color: $White;
        color: $Dark ;
    }
  
}
