html {
    margin: 0;
    padding: 0;
    font-family: $Family;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background-color: black;
    color: #fff;
    padding: 0.5rem;
}

li{
    list-style: none;
}
button{
    border: none;
    background: transparent;
}
